<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VitePay - Home</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/paystyle.css">
</head>
<body style="background-color: #1f1f1f">
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 " style="background-color: #007aff">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="../img/logo_circle.svg" style="width: 40px;margin-right: 10px" alt="">
        <span class="fs-3" style="color: white">Vite<b>Pay</b></span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/index.html" class="nav-link text-white" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/docs.html" class="nav-link text-white">Docs</a></li>
        <li class="nav-item"><a href="/faq.html" class="nav-link bg-light">FAQ</a></li>
        <li class="nav-item"><a href="/register.html" class="nav-link text-white">Register</a></li>
    </ul>
</header>


<div class="mainPage">
    <h1 class="description" style="margin-top: 2rem;font-size: 3.5rem">VitePay FAQ</h1>

    <div class="questionbox">
        Q : What are the fees?
        <br>
        A : VitePay is free to use, and doesn't contain any fees!

    </div>

    <div class="questionbox">
        Q : Is VitePay open-source?
        <br>
        A : Yes! You can see the source <a href="https://github.com/imalfect/VitePay" style="color: yellow">here</a>

    </div>

    <div class="questionbox">
        Q : I found a bug / need support
        <br>
        A : You can join our <a href="https://example.com" style="color: yellow">discord server</a> for support.

    </div>

</div>

</body>
</html>